@import "compass";
html,body{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html * {
    outline: 0;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}
body, th, td, p, ol, ul, li, dl, dt, dd, a, h1, h2, h3, h4, h5, h6, form, fieldset, input, legend, select, textarea {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,img,fieldset{
    border: none;
}
input,select,fieldset{
    vertical-align: middle;
    background-color: transparent;
}
ul,ol{
    padding-left: 0;
    list-style-type: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    max-width: 100%;
    vertical-align: top;
}
i,cite,em,var,address,dfn{
    font-style: normal;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
}
input:focus::-webkit-input-placeholder{
    color: transparent;
}
input:focus:-moz-placeholder,input:focus::-moz-placeholder{
    color: transparent;
}
button,input[type=button],input[type=password],input[type=submit],input[type=text],textarea{
    outline: none;
    -webkit-appearance: none;
}
input:-ms-clear{
    display: none;
}
/* clear IE10 X */
input {
    -webkit-user-modify: read-write-plaintext-only;
}
select{
    overflow-x: hidden;
}
%clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}
.clearfix{
    @extend %clearfix;
}
%elli {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
html,body{
    min-width: 320px;
    max-width:640px;
    margin:0 auto;
}
.hidden{
    display: none;
}
body{
    font-size: 0.12rem;
}
html,body{height: 100%;}
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}